* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
}

.body {
    & {
        display: grid;
        grid-template-rows: auto 1fr;
        min-height: 100vh;
        background-image: linear-gradient(
            to top,
            #090909,
            #141415,
            #1d1c1d,
            #262424,
            #2f2c2c
        );
    }
}

.header {
    width: 100%;
}
.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &-icon {
        height: 40px;
        width: 40px;
        color: #ededed;
    }
}
.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.tittle {
    color: #ededed;
    font-size: 2rem;
    text-align: center;
}
.section {
    &-art {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }
    &-tittle {
        font-size: 1.6rem;
        text-transform: uppercase;
        color: #ededed;
    }
}
.con-btn {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.btn {
    text-transform: uppercase;
    font-weight: 600;
}

@media screen and (max-width: 480px) {
    .con-btn {
        flex-direction: column;
    }
}
